@font-face
  font-family: 'icomoon'
  src:  url('../font/icomoon.eot?o5mph2')
  src:  url('../font/icomoon.eot?o5mph2#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?o5mph2') format('truetype'),
    url('../font/icomoon.woff?o5mph2') format('woff'),
    url('../font/icomoon.svg?o5mph2#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-playback-fast-forward:before
  content: "\f0bd"

.icon-playback-pause:before
  content: "\f0bb"

.icon-playback-play:before
  content: "\f0bf"

.icon-playback-rewind:before
  content: "\f0bc"
.icon-add_box:before
  content: "\e146"
.icon-close:before
  content: "\e5cd"
.icon-dehaze:before
  content: "\e3c7"

.icon-playlist_play:before
  content: "\e05f"

.icon-repeat_one:before
  content: "\e041"

.icon-wrap_text:before
  content: "\e25b"

.icon-bookmark:before
  content: "\e903"

.icon-chevron-down:before
  content: "\e904"

.icon-chevron-left:before
  content: "\e905"

.icon-chevron-right:before
  content: "\e906"

.icon-chevron-up:before
  content: "\e907"

.icon-circle:before
  content: "\e908"

.icon-corner-up-right:before
  content: "\e909"

.icon-edit-2:before
  content: "\e90a"

.icon-film:before
  content: "\e90b"

.icon-grid:before
  content: "\e90c"

.icon-heart:before
  content: "\e90d"

.icon-list:before
  content: "\e90e"

.icon-mail:before
  content: "\e90f"

.icon-message-square:before
  content: "\e910"

.icon-music:before
  content: "\e911"

.icon-play-circle:before
  content: "\e912"

.icon-search:before
  content: "\e913"

.icon-settings:before
  content: "\e914"

.icon-thumbs-up:before
  content: "\e915"

.icon-user:before
  content: "\e916"

.icon-users:before
  content: "\e917"
.icon-qq:before
  content: "\f1d6"
.icon-chain:before
  content: "\f0c1"
.icon-wechat:before
  content: "\f1d7"
.icon-pyq:before
  content: "\e900"
.icon-weibo:before
  content: "\ea9a"
