@font-face
  font-family: "iconfont"
  src: url('../font/iconfont.eot?t=1500213108999') /* IE9*/
  src: url('../font/iconfont.eot?t=1500213108999#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1500213108999') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1500213108999') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1500213108999#iconfont') format('svg') /* iOS 4.1- */


[class^="icon-"], [class*=" icon-"]
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.icon-cntencentwechat:before
  content: "\e638"

.icon-back:before
  content: "\e697"

.icon-close:before
  content: "\e69a"

.icon-comments:before
  content: "\e69b"

.icon-delete:before
  content: "\e69d"

.icon-search:before
  content: "\e6ac"

.icon-account:before
  content: "\e6b8"

.icon-music:before
  content: "\e640"

.icon-book:before
  content: "\e614"

.icon-good:before
  content: "\e717"

.icon-circle:before
 content: "\e669"

.icon-video:before
 content: "\e6e8"

.icon-pencil:before
  content: "\e61c"

.icon-weibo:before
 content: "\e65b"

.icon-pengyouquan:before
 content: "\e63e"

.icon-favorites:before
 content: "\e7ce"

.icon-volume:before
 content: "\e60b"

.icon-QQ:before
 content: "\e8a6"

.icon-share:before
  content: "\e63f"

.icon-play:before
  content: "\e66a"

.icon-pause:before
  content: "\e662"

.icon-play_forward_fill:before
  content: "\e7f5"

.icon-backwardfill:before
  content: "\e74d"

.icon-plus-square:before
  content: "\e54b"

.icon-btn_loop_d:before
  content: "\e60e"

.icon-shunxubofang:before
  content: "\e65e"

.icon-turn:before
  content: "\e632"
